/* CSS */
.custom-scrollbar::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #fff; /* Color of the scrollbar track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgb(238 238 238); /* Color of the scrollbar thumb */
    border-radius: 5px; /* Roundness of the scrollbar thumb */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgb(216, 213, 213); /* Color of the scrollbar thumb on hover */
}
